input.toggle {
    @apply block shrink-0 grow-0 w-11 h-6 bg-white rounded-full border border-slate-300 appearance-none bg-no-repeat transition;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 24 24'%3E%3Ccircle r='9' stroke-width='1.15' stroke='rgb(203 213 225)' fill='rgb(255 255 255)'/%3E%3C/svg%3E");
}

input.toggle:disabled {
    @apply opacity-50 pointer-events-none;
}

input.toggle:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 24 24'%3E%3Ccircle r='9' stroke-width='1.15' stroke='rgb(37 99 235)' fill='rgb(37 99 235)'/%3E%3C/svg%3E");
}

input.toggle:is(:active, :focus) {
    @apply border-blue-600;
}

input.toggle:is(:active, :focus) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 24 24'%3E%3Ccircle r='9' stroke-width='1.15' stroke='rgb(37 99 235)' fill='rgb(255 255 255)'/%3E%3C/svg%3E");
}

input.toggle:checked:is(:active, :focus) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-12 -12 24 24'%3E%3Ccircle r='9' stroke-width='1.15' stroke='rgb(37 99 235)' fill='rgb(37 99 235)'/%3E%3C/svg%3E");
}
