{% if page.header %}
<header class="header header-sticky">
    <div class="header-buttons header-buttons-start">
        <!-- prettier-ignore-->
        {% if page.buttonsStart %}
        {% include {{ page.buttonsStart }} %}
        {% endif %}
    </div>

    <div class="header-title">{{ page.title }}</div>

    <div class="header-buttons header-buttons-end">
        <!-- prettier-ignore-->
        {% if page.buttonsEnd %}
        {% include {{ page.buttonsEnd }} %}
        {% endif %}
    </div>
</header>
{% endif %}
